.SideDrawer{
    position: fixed;
    width: 200%;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 0px 0px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px){
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

.LogoSideDrawer {
    top: 0;
    left: 0;
    height: 8%;
    padding: 0px 5px;
    margin-bottom: 32px;
    box-sizing: border-box;
    background-color: #703B09;
    align-items: center;
    display: flex;
}